<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>U.S. National Parks Reservation System</title>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">NPRS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/reserve">Reserve</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/parks">Parks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reservations">Reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/visitors">Visitors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/businesses">Businesses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">Services</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 class="display-4 text-center">U.S. National Parks</h1>
    </div>
    <h1 class="text-center">Error 404 - Page Not Found</h1>
    <h2 class="text-center"><a href="/">Click Here to Go Home</a></h2>
</body>
     <script src="js/bootstrap.js"></script>
</html>